@import "components/banner.css";
@import "components/buttons.css";
@import "components/cards.css";

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}
